* {
	margin: 0px;
}
body {
  	font-family: sans-serif; 
  	height:auto;
  	width:100%;
  	background-image: url(file:///Users/NoahMilman/Desktop/website/Desktop_version/photos/new_background.jpg);
	/*
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	*/

  }

#wrapper {
	display: block;
	margin: auto;
	height: auto;
	width: 100%;
	max-width: 960px;
	min-width: 320px;
}
header {
	background-color: #FF9;
	background: #FFF;
	background-repeat: repeat-x;
	height: 60px;
	width: 100%;
	opacity: .7;
	-webkit-box-shadow: 0 1px 3px #666;
	-moz-box-shadow: 0 1px 3px #666;
	box-shadow: 0 1px 3px #666;
	
}
#logo { 
		display: block;
		float: left;
		margin-top: 5px;
		background-image: url(images/logo-small.png);
 }
 
 @media screen and (max-width: 480px) {
		header { height: 60px; }
		#logo {
			background-image: url(images/logo-small.png);
			background-repeat: no-repeat;
			margin-top: 5px;
		 } 

 }
 
 @media screen and (max-width: 768px) {
		header { height: 60px; }
		#logo {
			background-image: url(images/logo-small.png);
			background-repeat: no-repeat;
			margin-top: 5px;

		 } 
 }
/*Menu icon properties*/ 
a.menu-link {
	float: right;
	display: block;
	opacity: .9;
	margin-top: 8px; /*Menu icon Margin from top*/
	margin-left: 6px;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	background-color: #CCCC00;
		}

		nav[role=navigation] {
			clear: both;
			-webkit-transition: all 0.3s ease-out;  
			-moz-transition: all 0.3s ease-out;
			-ms-transition: all 0.3s ease-out;
			-o-transition: all 0.3s ease-out;
			transition: all 0.3s ease-out;
		}
		.js nav[role=navigation] {
			overflow: hidden;
			max-height: 0;
		}
		nav[role=navigation].active {
			max-height: 15em;
		}
		nav[role=navigation] ul {
			margin-top: -5px;
		}
		nav[role=navigation] li a {
	display: inline;
		}
		
		@media screen and (min-width: 48.25em) {
			a.menu-link {
			   display: none;
			}
			.js nav[role=navigation] {
				max-height: none;
			}
			nav[role=navigation] ul {
				margin: 0 0 0 -0.25em;
				border: 0;
			}
			
			nav[role=navigation]  li {
				display: inline-block;
				margin: 0 0.25em;
			}
			nav[role=navigation] li a {
				border: 0;
			}
		}
